{% load staticfiles %}
{% load tags %}
<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/html" xmlns="http://www.w3.org/1999/html">
<head>
    <meta charset="utf-8">
    <title>Notice</title>
    <link rel="stylesheet" href="{% static 'css/bootstrap.css' %}">
    <link rel="stylesheet" href="{% static 'css/styles.css' %}">
    {% if user|theme %}
    <link rel="stylesheet" href="{% static 'css/theme-dark.css' %}">
    {% endif %}
</head>

<body>
{% block topbar %}
    <div class="navbar">
        <div class="navbar-inner">
            <a href="/" class="brand">Wall++</a>
            <ul class="nav">
                <li><a href="{% url 'categories' %}">Categorii</a></li>
            </ul>

            <ul class="nav pull-right">
                {% if user.is_superuser %}
                <li><a href="/admin">Administrare</a></li>
                {% endif %}
                {% if user.is_authenticated %}
                    <li class="dropdown">
                        <a class="dropdown-toggle" data-toggle="dropdown" href="#">
                            {{ user }} <b class="caret"></b>
                        </a>

                        <ul class="dropdown-menu">
                            <li><a href="{% url 'logout' %}">Logout</a></li>
                        </ul>
                    </li>
                {% else %}
                    <li><a href="{% url 'login' %}">Login</a></li>
                    <li><a href="{% url 'register' %}">Register</a></li>
                {% endif %}
            </ul>
        </div>
    </div>
{% endblock %}

<div class="container-fluid">
    {% if user.is_superuser or perms.board.rights %}
        <a href="{% url 'change_theme' %}" class="btn pull-right">Schimba tema</a>
    {% endif %}
    {% block page_header %}{% endblock %}
    {% block content %}{% endblock %}
</div>

<script src="{% static 'js/jquery.min.js' %}"></script>
<script src="{% static 'js/bootstrap.min.js' %}"></script>
{% block js_footer %}{% endblock %}
</body>
</html>

