body {
    /*padding-top: 100px;*/
}

.navbar {
    width: 100%;
}

.post-form {
    display: inline-block;
}

.post-form * {
    width: 98%;
}

.comment-form {
    display: inline-block;
}

.comment-form * {
    width: 98%;
}

.post-text {
    max-height: 15em;
    overflow: hidden;
    text-overflow: ellipsis;
}

.post-snip {
    margin-bottom: 20px;
}

h1 {
    text-align: center;
}

